/* == Actionbar Element == */
.k-actionbar {
    #warch-logo {
        float: left;
        width: 28px;
        height: 28px;
        margin-left: 34px;
    }
    .actiontitle {
        margin-left: 12px !important;
    }
    #main-info {
        float: right;
        min-width: 85px;
        height: 100%;
        padding: 0 8px 0 8px;
        background: var(--semiPrimary);
        box-shadow: 0 1px 2px var(--shadowLight);
        border-left: 1px solid var(--border);
        border-radius: 8px 0 0 8px;
        text-align: center;
        box-sizing: border-box;
        p {
            margin: 0;
            line-height: 29px;
        } 
    }
    #error-info {
        display: none;
        float: right;
        max-width: 60%;
        height: 28px;
        padding: 0 8px 0 8px;
        align-items: center;
        box-sizing: border-box;
        border-radius: 8px;
        color: #b71c1c;
        background-color: #ffebee;
        border: 1px solid #b71c1c;
        user-select: text;
        animation: 0.5s info-sliding linear;
        svg {
            width: 20px;
            height: 20px;
            margin-right: 4px;
        }
        #error-info-text {
            margin: 0;
            font-family: monospace;
            text-overflow: ellipsis;
            overflow-x: hidden;
            white-space: nowrap;
        }
    }
}
.infobar {
    max-height: 25px;
    padding: 4px;
    background: var(--secondary);
    border-top: 1px solid var(--accent);
    box-sizing: border-box;
    p {
        margin: 0;
    }
}
@keyframes info-sliding {
    from {
        max-width: 5px;
        filter: brightness(1);
    }
    to {
        max-width: 60%;
    }
}